<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FileBox</title>
    <script type="text/javascript" th:src="@{/scripts/components_load.js}"></script>
    <link rel="stylesheet" th:href="@{/styles/base_style.css}" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body>

<header></header>

<div class="content container mt-5 cd__main">

<h2 th:unless="${organisation.id}">Add Organisation</h2>
<h2 th:if="${organisation.id}">Edit Organisation</h2>
<form method="post"
      th:action="${organisation.id} ? @{/organisations/edit/{id}(id=${organisation.id})} : @{/organisations/add}"
      th:object="${organisation}">
    <label>ID:</label>
    <input readonly="readonly" th:field="*{id}" type="text">
    <br>
    <label>Name:</label>
    <input th:field="*{name}" type="text">
    <br>
    <input type="submit" value="Save">
</form>
<a href="/organisations">Back to List</a>
</div>
<footer></footer>
</body>
</html>
